body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3vh;
}
#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#logo {
    text-decoration: none;
    color: white;
    font-size: 5vh;
    font-weight: bold;
}
#menu-icon {
    font-family: Geneva, sans-serif;
    font-size: 6vh;
}
.hero {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    padding: 1em;
    box-sizing: border-box;
    color: white;
    background: url(./home.png) center center no-repeat;
    background-size: cover;
}
.hero-title {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 16em;
    margin: 0;
    font-size: 12vh;
    color:#ceefff;
    text-shadow: 3px 3px 6px #000000;
    font-weight: bold;
    line-height: 0.9;
}
@media only screen and (max-width: 360px) {
    .hero-title {
        font-size: 4vh;
   }
}

@media only screen and (min-width: 360px) and (max-width:414px) {
    .hero-title {
        font-size: 4.9vh;
   }
}
@media only screen and (min-width: 415px) and (max-width:820px) {
    .hero-title {
        font-size: 7.5vh;
   }
}
@media only screen and (min-width: 820px) and (max-width:912px) {
    .hero-title {
        font-size: 7.4vh;
   }
}
.hero-footer {
    display: flex;
    margin-bottom: 1em;
}
.button {
    padding: 0.5em 0.67em;
    color: white;
    text-decoration: none;
    border: 0.1em solid white;
}
.button-primary {
    color: black;
    background-color: white;
}
article {
    max-width: 36em;
    margin: 0 auto;
    padding: 1em;
}